<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/user1.jpg" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form [formGroup]= "loginForm" (ngSubmit)= "onLogin(loginForm.value)">
        <input type="text" id="login" class="fadeIn second" placeholder="usuario" formControlName="userName">
        <!-- <input type="text" id="login" class="fadeIn second" placeholder="correo" formControlName="correo"> -->
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->


      <div class="alert alert-danger" *ngIf = "errorStatus">
        <p>{{errorMsj}}</p>

      </div>
  
    </div>
  </div>